:root {
  --branding-color: #6d8df5;
  --primary-color: #241d3f;
  --secondary-color: #c6deee;
  --btn-font-color: #fff;
  --heading-font-family: "Blinker", sans-serif;
  --default-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color);
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.hero p {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--btn-font-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.luisa {
  max-width: 300px;
  padding: 30px;
}
@media (max-width: 960px) {
  .hero {
    padding: 80px 20px;
  }

  h1 {
    font-size: 55px;
    line-height: 2;
  }

  h2 {
    font-size: 45px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
