:root {
  --branding-color: #cfd9fa;
  --primary-color: #241d3f;
  --header-footer-text: #ffff;
  --secondary-color: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
  --background-color: #000000;
  --background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 15px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 15px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 10px
    );
  --background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  --background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  --btn-font-color: #fff;
  --heading-font-family: "Blinker", sans-serif;
  --default-font-family: "Playfair Display", serif;
  --default-interests-color: #d8effa;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color);
  display: block;
  margin: 0 auto;
  background: #f1efef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 76px;
  line-height: 1.5;
}

h2 {
  font-size: 50px;
}

h5 {
  color: var(--primary-color);
}

h6 a {
  text-decoration: none;
  color: var(--branding-color);
}

.center {
  margin: 0 auto;
  text-align: center;
}

.introduction {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #313131;
  font-weight: bold;
  -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #c6ffff;
  }

  10% {
    color: #00bfff;
  }

  20% {
    color: #008cff;
  }

  30% {
    color: #3232dd;
  }

  40% {
    color: #c8c8f8;
  }

  50% {
    color: #aa56ce;
  }

  60% {
    color: #7536e9;
  }

  70% {
    color: #04cdff;
  }
  80% {
    color: #8bf7e1;
  }

  90% {
    color: #12e9b3;
  }

  100% {
    color: #ffdab9;
  }
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.hero p {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.hero {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  color: var(--branding-color);
  text-align: center;
  padding: 250px 0;
}

.contact-hero {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  color: var(--branding-color);
  text-align: center;
  padding: 80px 0;
}

.sub-hero {
  padding: 20px 0;
}

.about-me-hero {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  color: var(--branding-color);
  text-align: center;
  padding: 80px 0;
}

.contact-hero,
.projects-hero {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  color: var(--branding-color);
  text-align: center;
  padding: 90px 0;
}

footer {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  color: var(--branding-color);
  margin-top: 90px;
  padding: 30px;
  text-align: center;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--btn-font-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--btn-font-color);
  background: var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--branding-color);
  background: #fff;
  border: 1px solid var(--branding-color);
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: var(--btn-font-color);
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
  top: 85%;
}

.arrow {
  width: 30px;
  height: 30px;
  bottom: 2%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px var(--branding-color) solid;
  border-bottom: 2px var(--branding-color) solid;
}

.arrow:before {
  content: "";
  width: 18px;
  height: 18px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px var(--branding-color) solid;
  border-bottom: 1px var(--branding-color) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.img-fluid {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img-fluid:hover {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
}

.project-description {
  padding: 120px 60px;
}

.luisa {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  padding: 30px;
}

@media (max-width: 965px) {
  .hero {
    padding: 100px 20px;
  }

  h1 {
    font-size: 55px;
    line-height: 2;
  }

  h2 {
    font-size: 40px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .arrow,
  .arrow:before {
    position: absolute;
    left: 50%;
    top: 60%;
  }
}

.about-me-hero h1 {
  padding: 50px 25px 15px 25px;
}

.about-me-hero p {
  padding: 0 20px 30px 70px;
}

.interests-hero,
.cert-hero,
.skills-competencies {
  padding: 55px;
  background: var(--branding-color);
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 2px var(--primary-color);
}

ul {
  list-style-type: none;
}

h3 {
  font-size: 80px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  position: relative;
  color: var(--primary-color);
}

h3:before {
  content: attr(data-text);
  position: absolute;
  background: var(--branding-color);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 80% 70%;
  line-height: 0.9;
  clip-path: ellipse(120px 120px at -2.54% -9.25%);
  animation: swing 5s infinite;
  animation-direction: alternate;
}

@keyframes swing {
  0% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }
  50% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);
  }
  100% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}

.project-carousel {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  border: solid 4px;
  border-color: #fff;
  box-shadow: #241d3f63 6px 12px 12px 6px;
}

#project-img {
  box-shadow: #241d3f63 6px 12px 12px 6px;
  border-radius: 5px;
}

.samba-title {
  text-align: left;
  position: relative;
  right: 40px;
}

.socialmedia-icons {
  text-align: center;
  padding: 40px 0;
  margin: auto;
}
.link-icons {
  color: #fff;
}

a,
.contact-link {
  text-decoration: none;
  color: var(--primary-color);
}
