:root {
  --branding-color: #b9c7f1;
  --primary-color: #241d3f;
  --secondary-color: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );

  --btn-font-color: #fff;
  --heading-font-family: "Blinker", sans-serif;
  --default-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color);
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  background: #f1efef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 76px;
  line-height: 1.5;
}

h2 {
  font-size: 50px;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.hero p {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: var(--btn-font-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  background: #fff;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.luisa {
  max-width: 300px;
  padding: 30px;
}
@media (max-width: 960px) {
  .hero {
    padding: 80px 20px;
  }

  h1 {
    font-size: 55px;
    line-height: 2;
  }

  h2 {
    font-size: 40px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}

.contact-hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 0;
}

footer {
  background: var(--secondary-color);
  margin-top: 90px;
  padding: 30px;
  text-align: center;
}

.socialmedia-icons {
  text-align: center;
  padding: 40px 0;
  margin: auto;
}
